.auto-dashboard {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.chart-container {

  flex: 1 1 300px;
  max-width: 400px;
  min-width: 320px;
}
